In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys

In [2]:
os.chdir('../..')
os.chdir('CovidMobile')
os.getcwd()

'C:\\Users\\newbergern\\Documents\\CovidMobile'

In [3]:
df = pd.read_csv('data/US-New_York_2020-04-05.csv')

In [4]:
print(df.columns)
print(df.describe())

Index(['country', 'page_num', 'plot_num', 'region', 'plot_name', 'asterisk',
       'date', 'value', 'headline'],
      dtype='object')
           page_num      plot_num         value
count  15996.000000  15996.000000  12702.000000
mean      17.491935    186.500000     -6.160900
std        8.972905    107.390119     27.402269
min        1.000000      1.000000    -85.986000
25%       10.000000     93.750000    -24.738750
50%       17.500000    186.500000      0.160500
75%       25.000000    279.250000      8.602500
max       33.000000    372.000000    186.111000

In [5]:
df['asterisk'].value_counts()

False    11524
True      4472
Name: asterisk, dtype: int64

In [6]:
df.groupby(['plot_name','asterisk'])['country'].count()

plot_name            asterisk
Grocery & pharmacy   False       2666
Parks                False        860
                     True        1806
Residential          False       1333
                     True        1333
Retail & recreation  False       2666
Transit stations     False       1333
                     True        1333
Workplace            False       2623
Workplaces           False         43
Name: country, dtype: int64

In [7]:
df.replace('Workplaces','Workplace',inplace=True)

In [8]:
df.groupby(['plot_name','asterisk'])['country'].count()

plot_name            asterisk
Grocery & pharmacy   False       2666
Parks                False        860
                     True        1806
Residential          False       1333
                     True        1333
Retail & recreation  False       2666
Transit stations     False       1333
                     True        1333
Workplace            False       2666
Name: country, dtype: int64