In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys

In [2]:
os.chdir('../..')
os.chdir('CovidMobile')
os.getcwd()

'C:\\Users\\newbergern\\Documents\\CovidMobile'

# Census Data

In [101]:
df_col_headers = pd.read_csv('data/DataDict.txt_2020-04-16', sep='\t', header=None)
df_county_data = pd.read_csv('data/DataSet.txt_2020-04-16', sep=',')
df_county_names = pd.read_csv('data/FIPS_CountyName.txt_2020-04-16', sep='delimiter', header=None)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [102]:
df_county_names.tail()

                                0
3190  56037 Sweetwater County, WY
3191       56039 Teton County, WY
3192       56041 Uinta County, WY
3193    56043 Washakie County, WY
3194      56045 Weston County, WY

In [103]:
df_county_names = df_county_names[0].str.split(' ',n=1,expand=True)
df_county_names = pd.concat([df_county_names[0],df_county_names[1].str.split(',',n=1,expand=True)],axis=1)
df_county_names.columns = ['FIPS','County','State']
df_county_names.shape,df_county_names.head()

((3195, 3),     FIPS          County State
 0  00000   UNITED STATES  None
 1  01000         ALABAMA  None
 2  01001  Autauga County    AL
 3  01003  Baldwin County    AL
 4  01005  Barbour County    AL)

In [104]:
df_county_data.shape,df_county_data.head()

((3195, 54),
    fips  PST045214  PST045213  PST040210  PST120214  PST120213  POP010210  \
 0     0  318857056  316497531  308758105        3.3        2.5  308745538
 1  1000    4849377    4833996    4780127        1.4        1.1    4779736
 2  1001      55395      55136      54571        1.5        1.0      54571
 3  1003     200111     195443     182265        9.8        7.2     182265
 4  1005      26887      26978      27457       -2.1       -1.7      27457

    AGE135213  AGE295213  AGE775213  ...  SBO415207  SBO015207   MAN450207  \
 0        6.3       23.3       14.1  ...        8.3       28.8  5319456312
 1        6.1       23.0       14.9  ...        1.2       28.1   112858843
 2        6.1       25.4       13.5  ...        0.7       31.7           0
 3        5.7       22.4       18.1  ...        1.3       27.3     1410273
 4        5.8       21.1       15.9  ...        0.0       27.0           0

     WTN220207   RTN130207  RTN131207  AFN120207  BPS030214   LND110210  \
 0  4174286516  3917663456      12990  613795732    1046363  3531905.43
 1    52252752    57344851      12364    6426342      13369    50645.33
 2           0      598175      12003      88157        131      594.44
 3           0     2966489      17166     436955       1384     1589.78
 4           0      188337       6334          0          8      884.88

    POP060210
 0       87.4
 1       94.4
 2       91.8
 3      114.6
 4       31.0

 [5 rows x 54 columns])

In [105]:
df_col_headers = df_col_headers[0].str.split(' ',n=1,expand=True)
df_col_headers = pd.concat([df_col_headers[0],df_col_headers[1].str.split('\s+\s+',n=1,expand=True)],axis=1)
df_col_headers.columns = ['code','var_name','extra']
df_col_headers.drop([0],inplace=True)
df_col_headers.head()

,code,var_name,extra
1,STATECOU,FIPS State and County code,None
2,PST045214,"Population, 2014 estimate",ABS 0 318857056 86 318857056 CENSUS
3,PST045213,"Population, 2013 estimate",ABS 0 316497531 89 316497531 CENSUS
4,PST040210,"Population, 2010 (April 1) estimates base",ABS 0 308758105 82 308758105 CENSUS
5,PST120214,"Population, percent change - April 1, 2010 to ...",PCT 1 3.3 -17.0 72.9 CENSUS

In [106]:
df_county_data.columns = df_col_headers['var_name'].values

In [107]:
df_county_data.head()

,FIPS State and County code,"Population, 2014 estimate","Population, 2013 estimate","Population, 2010 (April 1) estimates base","Population, percent change - April 1, 2010 to July 1, 2014","Population, percent change - April 1, 2010 to July 1, 2013","Population, 2010","Persons under 5 years, percent, 2013","Persons under 18 years, percent, 2013","Persons 65 years and over, percent, 2013",...,"Hispanic-owned firms, percent, 2007","Women-owned firms, percent, 2007","Manufacturers shipments, 2007 ($1,000)","Merchant wholesaler sales, 2007 ($1,000)","Retail sales, 2007 ($1,000)","Retail sales per capita, 2007","Accommodation and food services sales, 2007 ($1,000)","Building permits, 2014","Land area in square miles, 2010","Population per square mile, 2010"
0,0,318857056,316497531,308758105,3.3,2.5,308745538,6.3,23.3,14.1,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,4849377,4833996,4780127,1.4,1.1,4779736,6.1,23.0,14.9,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,55395,55136,54571,1.5,1.0,54571,6.1,25.4,13.5,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,200111,195443,182265,9.8,7.2,182265,5.7,22.4,18.1,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,26887,26978,27457,-2.1,-1.7,27457,5.8,21.1,15.9,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

# County Match

In [108]:
df_county = df_county_names[df_county_names['State'].notnull()]
df_county['State'].value_counts()

 TX    254
 GA    159
 VA    134
 KY    120
 MO    115
 KS    105
 IL    102
 NC    100
 IA     99
 TN     95
 NE     93
 IN     92
 OH     88
 MN     87
 MI     83
 MS     82
 OK     77
 AR     75
 WI     72
 AL     67
 FL     67
 PA     67
 SD     66
 LA     64
 CO     64
 NY     62
 CA     58
 MT     56
 WV     55
 ND     53
 SC     46
 ID     44
 WA     39
 OR     36
 NM     33
 AK     29
 UT     29
 MD     24
 WY     23
 NJ     21
 NV     17
 ME     16
 AZ     15
 MA     14
 VT     14
 NH     10
 CT      8
 RI      5
 HI      5
 DE      3
 DC      1
Name: State, dtype: int64

In [117]:
df = pd.read_csv('data/US-New_York_2020-04-05.csv')

In [123]:
nyc_county = df[['country','region']].drop_duplicates()
meg = nyc_county.merge(df_county[df_county['State'].str.contains('NY')],left_on='region',right_on='County',how='outer',indicator=True)

both          61
right_only     1
left_only      1
Name: _merge, dtype: int64

In [113]:
df_county[df_county['State'].str.contains('NY')]

       FIPS               County State
1862  36001        Albany County    NY
1863  36003      Allegany County    NY
1864  36005         Bronx County    NY
1865  36007        Broome County    NY
1866  36009   Cattaraugus County    NY
1867  36011        Cayuga County    NY
1868  36013    Chautauqua County    NY
1869  36015       Chemung County    NY
1870  36017      Chenango County    NY
1871  36019       Clinton County    NY
1872  36021      Columbia County    NY
1873  36023      Cortland County    NY
1874  36025      Delaware County    NY
1875  36027      Dutchess County    NY
1876  36029          Erie County    NY
1877  36031         Essex County    NY
1878  36033      Franklin County    NY
1879  36035        Fulton County    NY
1880  36037       Genesee County    NY
1881  36039        Greene County    NY
1882  36041      Hamilton County    NY
1883  36043      Herkimer County    NY
1884  36045     Jefferson County    NY
1885  36047         Kings County    NY
1886  36049         Lewis County    NY
1887  36051    Livingston County    NY
1888  36053       Madison County    NY
1889  36055        Monroe County    NY
1890  36057    Montgomery County    NY
1891  36059        Nassau County    NY
...     ...                  ...   ...
1894  36065        Oneida County    NY
1895  36067      Onondaga County    NY
1896  36069       Ontario County    NY
1897  36071        Orange County    NY
1898  36073       Orleans County    NY
1899  36075        Oswego County    NY
1900  36077        Otsego County    NY
1901  36079        Putnam County    NY
1902  36081        Queens County    NY
1903  36083    Rensselaer County    NY
1904  36085      Richmond County    NY
1905  36087      Rockland County    NY
1906  36089  St. Lawrence County    NY
1907  36091      Saratoga County    NY
1908  36093   Schenectady County    NY
1909  36095     Schoharie County    NY
1910  36097      Schuyler County    NY
1911  36099        Seneca County    NY
1912  36101       Steuben County    NY
1913  36103       Suffolk County    NY
1914  36105      Sullivan County    NY
1915  36107         Tioga County    NY
1916  36109      Tompkins County    NY
1917  36111        Ulster County    NY
1918  36113        Warren County    NY
1919  36115    Washington County    NY
1920  36117         Wayne County    NY
1921  36119   Westchester County    NY
1922  36121       Wyoming County    NY
1923  36123         Yates County    NY

[62 rows x 3 columns]

       country           region
0     New York         New York
258   New York    Albany County
516   New York  Allegany County
774   New York     Bronx County
1032  New York    Broome County

In [5]:
df['asterisk'].value_counts()

False    11524
True      4472
Name: asterisk, dtype: int64

In [6]:
df.groupby(['plot_name','asterisk'])['country'].count()

plot_name            asterisk
Grocery & pharmacy   False       2666
Parks                False        860
                     True        1806
Residential          False       1333
                     True        1333
Retail & recreation  False       2666
Transit stations     False       1333
                     True        1333
Workplace            False       2623
Workplaces           False         43
Name: country, dtype: int64

In [7]:
df.replace('Workplaces','Workplace',inplace=True)

In [8]:
df.groupby(['plot_name','asterisk'])['country'].count()

plot_name            asterisk
Grocery & pharmacy   False       2666
Parks                False        860
                     True        1806
Residential          False       1333
                     True        1333
Retail & recreation  False       2666
Transit stations     False       1333
                     True        1333
Workplace            False       2666
Name: country, dtype: int64